body{
    background-color: azure;
    text-align: center;
}
.container{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}
.block1{
    width: 500px;
    height: 500px;
    background: linear-gradient(to left, #E0C3FC 0%, #8EC5FC 100%);
    border-radius: 2em;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.651);
}
.block2{
    box-shadow: 1px 3px 90px 1px rgb(138, 2, 25);
    background: linear-gradient(to right, #FF9A9E 0%, #FECFEF 99%, #FECFEF 100%);
    width: 500px;
    height: 500px;
    border-radius: 2em
}
.block3{
    box-shadow: 7px 5px 10px 3px rgb(14, 146, 146);
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
    width: 500px;
    height: 500px;
    border-radius: 2em
}
h1{
    font-size: 70px;
    text-shadow: 3px 1px 70px rgb(119, 24, 0);
}
h2{
    text-shadow: 5px 1px 30px rgb(166, 9, 228);
}